body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
    text-align: center;
}

.content{
    position: relative;
    z-index: 2;
    padding-top: 60px;
}

.main-title{
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #ff2e63;
}

.love-section{
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

.memory-section{
    margin: 30px 20px;
}

.memory-box{
    background: rgba(255,0,90,0.1);
    margin: 10px 0;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
}

.memory-box:hover{
    background: rgba(255,0,90,0.3);
    transform: scale(1.05);
}
