body{
margin:0;
font-family: 'Poppins', sans-serif;
background: black;
color:white;
text-align:center;
overflow:hidden;
}

.section{
display:none;
height:100vh;
padding:20px;
}

.active{
display:block;
animation: fade 1s;
}

@keyframes fade{
from{opacity:0;}
to{opacity:1;}
}

h1{
color:#ff004f;
text-shadow:0 0 15px #ff004f;
}

button{
padding:12px 25px;
margin:10px;
border:none;
border-radius:30px;
background:#ff004f;
color:white;
font-size:16px;
box-shadow:0 0 10px #ff004f;
}

.gallery img{
width:45%;
margin:5px;
border-radius:15px;
}

/* Envelope */
.envelope{
width:200px;
height:120px;
background:#ff004f;
margin:200px auto;
position:relative;
cursor:pointer;
}

.flap{
width:0;
height:0;
border-left:100px solid transparent;
border-right:100px solid transparent;
border-bottom:60px solid black;
position:absolute;
top:-60px;
left:0;
transition:0.8s;
}

.envelope.open .flap{
transform:rotateX(180deg);
}

.letter{
padding-top:40px;
font-weight:bold;
}
